<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\inetpub\P2.7.6.1\App\python.exe&quot; %s %s" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
